/* Home.css */
.home-container {
    padding: 20px;
    text-align: center;
}
  
.home-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}
  
.home-container p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}
  